body,
html {
  padding: 0;
  margin: 0;
}

/* flex的固比模型 */
.box1 {
  display: flex;
  height: 300px;
  margin-bottom: 10px;
}

.left1 {
  width: 300px;
  background: #03a9f4;
}

.right1 {
  flex: 1;
  background: #20f72b;
}

/* 使用flex方法 */
.box2 {
  display: flex;
  height: 300px;
  margin-bottom: 10px;
}

.left2 {
  flex-basis: 300px;
  flex-shrink: 0;
  /*  .right2 区域过大挤压 .left2 区域，此时还需要加一个 flex-shrink: 0;禁止挤压 */
  background: #03a9f4;
}

.right2 {
  flex-grow: 1;
  background: #20f72b;
}

/* 使用calc方法 */
.box3 {
  display: flex;
  height: 300px;
  margin-bottom: 10px;
}

.left3 {
  width: 300px;
  background: #03a9f4;
}

.right3 {
  width: calc(100% - 300px);
  background: #20f72b;
}